html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    scroll-behavior: smooth;
    padding-bottom: 20%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}

@media(max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media(min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}

.navbar{
    display: flex;
    /* border-width: 2px;
    border-color: aqua;
    border-style: solid; */
    height: 70px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1dea2;
    border-radius: 0 0 20px 20px;
}

.menu a, .contacts a{
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size: 20px;
}

.contacts a{
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.326);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;
}

.menu a:hover{
    color: wheat;
}

.name{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.blackhole-box{
    display: flex;
    width: 100%;
    justify-content: center;
    top: 0;
    z-index: -1;
    position: absolute;
    mix-blend-mode: lighten;
    margin-bottom: -20vh;
}

.blackhole-box video{
    margin-top: -23%;
    width: 100%;
}

.hero{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
    align-items: center;
    padding-top: 0;
    padding-bottom: -50vh;
}

.hero-video{
    display: flex;
    flex: 0.5;
    width: auto;
    height: 900px;
    mix-blend-mode: lighten;
    right: -30%;
}

.hero-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hero-content h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    font-style: italic;
}

.hero-content p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size: 25px;
}

.contact-btn{
    width: 15%;
    height: 5vh;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.326);
    color: wheat;
    border-style: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.contact-btn:hover{
    cursor: pointer;
    background-color: wheat;
    color: black;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 20px;
    margin-left: 15%;
}

.info-section-heading{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    font-style: italic;
}

.card-container{
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: row;
}

.container1{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container2{
    display: flex;
    flex: 1;
}

.card1,.card2,.card3,.card4{
    display: flex;
    flex: 1;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.5s;
    margin: 5px;
    transition: 0.1s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card1:hover,.card2:hover,.card3:hover,.card4:hover{
    box-shadow: 0 0 15px #72a1dea2;
}

.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 15vh;
}

.projects h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 40px;
}

.projects h3{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size: 25px;
}

.project1,.project2,.project3,.project4,.project5{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 5px;
}

.project-video{
    border-radius: 20px;
    border: 1px solid gray;
    height: 90%;
    flex: 1;
    height: 20vh;
    margin: 10px;
}

.project-video:hover{
    box-shadow: 0 0 15px #72a1dea2;
}

.project-info{
    height: 90%;
    flex: 2;
}

.skills-section{
    display: flex;
    flex-direction: column;
    height: 50vh; /* Corrected from hv to vh */
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.skills-section h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 40px;
}

.skill-container{
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.skill-container div{
    display: flex;
    flex: 1;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brain-img{
    width: 99%;
    mix-blend-mode:difference;
}

.skill-container div h3{
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size: 25px;
}

.info-section-heading, .projects h2, .project1,.project2,.project3,.project4,.project5,
.skill-container div, .skills-section h2{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card1{
    flex-direction: column;
    align-items: center;
}

.card1 video{
    width: 80%;
    height: 60%;
    mix-blend-mode:difference;
}

.card1 h3, .card4 h3, .card3 h3, .card2 h3{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.card1 p, .card4 p, .card3 p, .card2 p {
    line-height: 2;
    font-family: "Raleway";
}

.card4{
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.card4 img{
    width: 70%;
    height: auto;
    object-fit: cover;
    mix-blend-mode:exclusion;
    margin-bottom: -10%;
}

.card3{
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 1%;
}

.card3 img{
    width: 50%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: difference;
    
}

.card2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.skill-container div ul{
    font-family: "Raleway";
    font-weight: bold;
    line-height: 2;
    font-size: 20px;
}

.skill-container div ul:hover{
    color: wheat;
}

.wrapper{
    border: 1px solid black;
    width: 60%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 200px;
    margin-top: 5rem;
    overflow: hidden;
}

@keyframes scroLLLeft {
    to{
        left: -200px;
    }
}

.item{
    width: 96px;
    height: 96px;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    animation-name: scroLLLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-left: 10px;
}

.item1{
    animation-delay: calc(20s / 6 * (6 - 1)*-1);
}

.item2{
    animation-delay: calc(20s / 6 * (6 - 2)*-1);
}

.item3{
    animation-delay: calc(20s / 6 * (6 - 3)*-1);
}

.item4{
    animation-delay: calc(20s / 6 * (6 - 4)*-1);
}

.item5{
    animation-delay: calc(20s / 6 * (6 - 5)*-1);
}

.item6{
    animation-delay: calc(20s / 6 * (6 - 6)*-1);
}
.wrapper:hover .item {
    animation-play-state: paused;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

footer h3{
    font-family: "Montserrat", sans-serif;
}

footer p{
    font-family: "Raleway";
}

